@font-face {
    font-family: 'montserrat-ul';
    src: url(../fonts/montserrat/montserrat-extralight.otf);
}

@font-face {
    font-family: 'montserrat-l';
    src: url(../fonts/montserrat/montserrat-light.otf);
}

@font-face {
    font-family: 'raleway-reg';
    src: url(../fonts/raleway/raleway-regular.ttf);
}

@font-face {
    font-family: 'raleway-sb';
    src: url(../fonts/raleway/raleway-semibold.ttf);
}

@font-face {
    font-family: 'raleway-eb';
    src: url(../fonts/raleway/raleway-extrabold.ttf);
}

body {
    box-sizing: border-box;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

/*ШАПКА СТРАНИЦЫ*/
.head {
    width: 100%;
    /* min-height: 1024px; */
    background-image: url(../img/photoheader.jpg);
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-position: cover;
    position: relative;
}

.mainmenu {
    display: flex;
    margin-left: 376px;
    padding-top: 40px;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    margin-right: 219px;
}

.logo-svg {
    fill: #fff;
}

.logo-txt {
    font-family: 'raleway-reg';
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
}

.logo:hover .logo-svg {
    fill: #998675;
    stroke: #fff;
}

.logo:hover .logo-txt {
    color: #998675;
}

.headerlogo img {
    float: left;
}

.mainmenu_nav {
    padding-top: 21px;
}

.mainmenu_nav li{
   vertical-align: middle;
}

.mainmenu_nav ul {
    margin: 0;
    padding: 0;
}

.mainmenu_nav ul li a {
    display: block;
    text-decoration: none;
    font-family: 'montserrat-l';
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.mainmenu_nav ul li a:hover {
    color: #c7b29a;
}

.mainmenu_nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 29px;
}


.cart {
    fill: white;
}

.cart:hover {
    opacity: 0.4;
}

.menu_button {
    padding-right: 0px;
}

input[type="search"]:hover {
    opacity: 0.4;
}

input[type="search"] {
    width: 24px;
    height: 24px;
    outline: none;
    background-image: url(../img/icon-search.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

input[type="search"]:focus {
    width: 300px;
    transition: width 1s ease-out;
    background-position: right;
}

.arow_left {
    position: absolute;
    display: block;
    width: 40px;
    height: 73px;
    background-image: url(../img/arrow-left.png);
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    width: 40px;
    height: 73px;
    left: 150px;
    top: 450px;
}

.arow_left:hover {
    opacity: 0.3;
}

.arow_right {
    position: absolute;
    display: block;
    width: 40px;
    height: 73px;
    background-image: url(../img/arrow-left.png);
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    float: right;
    right: 150px;
    top: 450px;
}

.arow_right:hover {
    opacity: 0.3;
}

.header_discript {
    /*    position: relative;*/
    padding-top: 309px;
    text-align: center;
}

.header_discript h1 {
    padding: 0;
    margin: 0;
    display: block;
    font-family: 'raleway-reg';
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 14px;
}

.header_discript h2 {
    padding: 0;
    margin: 0;
    font-family: 'raleway-eb';
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 19px;
}

.header_discript span {
    display: block;
    font-family: 'montserrat-l';
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.button {
    margin-top: 52px;
    display: inline-block;
    padding: 21px;
    text-decoration: none;
    border-radius: 3px;
    background-color: #998675;
    box-shadow: inset 0 -3px 0 #736357;
    width: 170px;
    text-transform: uppercase;
    font-family: 'raleway-eb';
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
}

.button:hover {
    opacity: 0.8;
}

.main_slider {
    display: flex;
    justify-content: center;
    padding-top: 250px;
    padding-bottom: 50px;
}

.slider {
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    background-clip: content-box;
    opacity: 0.5;
    border: 4px solid transparent;
    border-radius: 50%;
    margin-right: 10px;
}

.slider:hover {
    border: 4px solid #998675;
    background-color: transparent;
}

/*КОНЕЦ ШАПКА СТРАНИЦЫ*/
/*БЛОК С МЕНЮ ВТОРОСТЕПЕННЫМ*/
.menu {
    display: flex;
    padding-top: 79px;
    justify-content: center;
    margin-bottom: 80px;
}

.flexmenu {
    display: block;
    padding: 0 33px 0 0;
    width: 266px;
}

.flexmenu_img {
    display: block;
    margin: 0 auto;
    padding-bottom: 29px;
}

.flexmenu span {
    text-align: center;
    display: block;
    font-family: 'raleway-sb';
    color: #555555;
    font-size: 22px;
}

.flexmenu p {
    margin: 19px 0px 30px 0px;
    text-align: center;
    width: 266px;
    min-height: 62px;
    color: #8c8c8c;
    font-family: 'montserrat-l';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.flexmenu:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #8c8c8c;
    margin: 0 auto;
    align-self: flex-end;
}

.flexmenu:hover span {
    color: #c7b299;

}

.flexmenu:hover:after {
    background-color: #c7b299;
}

.flexmenu:hover .flexmenu_img {
    fill: #c7b299;
}

/*КОНЕЦ БЛОК С МЕНЮ ВТОРОСТЕПЕННЫМ*/
/*БЛОК С 2М СЛАЙДЕРОМ*/
.waxom_ideas {
    width: 100%;
    background-color: #fbfaf8;
    overflow: hidden;
}

.waxom_ideas h2 {
    font-family: 'raleway-sb';
    color: #555555;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-top: 83px;
    text-align: center;
    margin-bottom: 24px;
}

.waxom_ideas span {
    display: block;
    font-family: 'montserrat-l';
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.flexfoto {
    position: relative;
    margin-top: 550px;
}

.leftphoto {
    position: absolute;
    bottom: 0;
    left: 346px;
}

.centerphoto {
    position: absolute;
    bottom: 0;
    left: 576px;
    z-index: 2;
}

.rightphoto {
    position: absolute;
    bottom: 0;
    right: 346px;
    z-index: 1;
}

/*подвал блока */

.waxom_ideas_footer {
    width: 100%;
    min-height: 150px;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.waxom_left {
    float: left;
}

.waxom_ideas_title {
    min-width: 530px;
    padding: 0;
    margin: 0;
    font-family: 'raleway-reg';
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    margin-left: 376px;
    padding-top: 48px;
    margin-bottom: 8px;
}

.waxom_ideas_title span {
    color: #c7b299;
}

.waxom_ideas_discr {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: 'montserrat-l';
    color: #615855;
    font-size: 18px;
    font-weight: 300;
    margin-left: 376px;
    width: 530px;
}

.waxom_ideas_button {
    display: inline-block;
    /*ЗНАЧЕНИЕ ПРИБЛИЖЕНО - РАЗОБРАТЬСЯ*/
    margin-top: 40px;
    margin-left: 370px;
    text-decoration: none;
    padding: 20px;
    border-radius: 3px;
    background-color: #998675;
    box-shadow: inset 0 -3px 0 #736357;
    width: 170px;
    font-family: 'raleway-eb';
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.waxom_ideas_button:hover {
    opacity: 0.60;
}

/*КОНЕЦ БЛОК С ВТОРЫМ СЛАЙДЕРОМ*/
/*БЛОК СО СТАТЬЯМИ*/
.our_latest {
    width: 100%;
    text-align: center;
}

.our_latest_title {
    margin: 0;
    padding: 0;
    font-family: 'raleway-sb';
    color: #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 81px;
    margin-bottom: 24px;
}

.our_latest p {
    padding: 0;
    margin: 0;
    font-family: 'montserrat-l';
    color: #8c8c8c;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.our_latest span {
    display: block;
}

.our_latest_menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.our_latest_menu_btn {
    min-height: 32px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    background-color: white;
    color: #8c8c8c;
    font-family: 'montserrat-l';
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    padding: 10px 24px 8px 24px;
    margin-left: 10px;
    outline: none;
}

.our_latest_menu_btn:hover {
    background-color: #998675;
    color: white;
}

.our_latest_menu a:hover {
    border: 1px solid #998675;
    background-color: #998675;
    color: white;
}

.our_latest_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 370px [col-start]);
    grid-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
}

.our_latest_article {
    width: 370px;
    margin: 0;
    padding: 0;
    position: relative;
}

.our_latest_link,
.our_latest_search {
    width: 26px;
    height: 26px;
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 106px;
}

.our_latest_link {
    background-image: url(../img/link.png);
    left: 40%;
}

.our_latest_search {
    background-image: url(../img/lupa.png);
    right: 40%;
}

.our_latest_article img {
    display: block;
    transition: all .5s ease-out;
}

.figcaption {
    background-color: #fbfaf8;
    min-width: 370px;
    height: 100px;
    text-align: left;
    transition: all .5s ease-out;
}

.figcaption:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 10px;
    margin-top: -9px;
    margin-left: 19px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    transition: all .5s ease-out;
}

.our_latest_header {
    padding-left: 28px;
    padding-top: 30px;
    padding-bottom: 14px;
    color: #c7b299;
    font-family: 'raleway-reg';
    font-size: 20px;
    font-weight: 500;
}

.our_latest_txt {
    padding-left: 30px;
    color: #d1d1d1;
    font-family: 'montserrat-l';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.our_latest_article:hover img {
    filter: brightness(40%);
    transition: all .5s ease-out;
}

.our_latest_article:hover .our_latest_link {
    display: block;
}

.our_latest_article:hover .our_latest_search:hover {
    opacity: 0.4;
}

.our_latest_article:hover .our_latest_link:hover {
    opacity: 0.4;
}

.our_latest_article:hover .our_latest_search {
    display: block;
}

.our_latest_article:hover .figcaption {
    background-color: #362f2d;
    transition: all .5s ease-out;
}

.our_latest_article:hover .figcaption:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 10px;
    margin-top: -9px;
    margin-left: 19px;
    background-image: url(../img/arrow_brown.png);
    background-repeat: no-repeat;
    transition: all .5s ease-out;
}

.our_latest_btn {
    width: 170px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    text-align: center;
    margin-top: 40px;
    display: inline-block;
    padding: 21px;
    text-decoration: none;
    border: 1px solid #998675;
    text-transform: uppercase;
    font-family: 'raleway-eb';
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 80px;
}

.our_latest_btn:hover {
    opacity: 0.60;
}

/*КОНЕЦ БЛОК СО СТАТЬЯМИ*/

/*БЛОК С ВИДЕО*/
.waxom_video_presentation {
    position: relative;
    width: 100%;
}

.waxom_video_presentation video {
    filter: brightness(50%);
}

.waxom_video_presentation_item h2 {
    position: absolute;
    top: 323px;
    left: 750px;
    color: #ffffff;
    font-family: 'raleway-reg';
    font-size: 30px;
    font-weight: 500;
}

.waxom_video_presentation_item span {
    display: block;
    position: absolute;
    text-align: center;
    width: 552px;
    top: 400px;
    left: 650px;
    color: #ffffff;
    font-family: 'montserrat-ul';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.waxom_video_presentation_item time {
    position: absolute;
    color: #c7b299;
    font-family: 'montserrat-reg';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    top: 500px;
    left: 930px;
}

.waxom_video_play_arrow {
    position: absolute;
    top: 228px;
    left: 903px;
}

.waxom_video_play {
    position: absolute;
    fill: #fff;
    top: 243px;
    left: 916px;
}

.waxom_video_play:hover {
    opacity: 0.5;
}

/*КОНЕЦ БЛОК С ВИДЕО*/
/*БЛОК С АЙФОНОМ*/
.hand_fone {
    width: 100%;
    min-height: 695px;
    position: relative;
    background-color: #fbfaf8;
    background-image: url(../img/iPhone_in_hand2.png);
    background-repeat: no-repeat;
    background-position: 423px 80px;
}

.hand_fone_wrapper {
    position: absolute;
    left: 877px;
    top: 195px;
}

.hand_fone_title {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    color: #555555;
    font-family: 'raleway-sb';
    font-size: 30px;
    font-weight: 400;
}

.hand_fone_txt {
    display: block;
    margin-bottom: 40px;
    color: #8c8c8c;
    font-family: 'montserrat-l';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 657px;
}

.hand_fone_list li {
    list-style-type: none;
    /*паддинг на глаз*/
    padding-bottom: 12px;
    color: #8c8c8c;
    font-family: 'montserrat-l';
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    margin-left: 50px;
}

.hand_fone_list li:before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    margin-left: -50px;
    margin-top: 4px;
    background-image: url(../img/01.png);
    background-repeat: no-repeat;
}

/*КОНЕЦ БЛОК С АЙФОНОМ*/
/*БЛОК С КАЛЬКУЛЯТОРОМ*/
.calc {
    width: 100%;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    text-align: center;
}

.calc_figure {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.calc_figure:after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    align-self: flex-end;
}

.calc_icon {
    padding-top: 60px;
    fill: #c7b299;
}

.calc_number {
    display: block;
    color: #ffffff;
    font-family: 'montserrat-ul';
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 30px;
}

.calc_txt {
    display: block;
    color: #c7b299;
    font-family: 'montserrat-l';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 21px;
}

/*КОНЕЦ БЛОК С КАЛЬКУЛЯТОРОМ*/
/*БЛОК С ПОСТАМИ*/
.posts_wrapper {
    width: 100%;
    padding-top: 82px;
}

.posts_header {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    color: #555555;
    font-family: 'raleway-sb';
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.posts_txt {
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 583px;
    width: 757px;
    min-height: 43px;
    color: #8c8c8c;
    font-family: 'montserrat-l';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.posts_flex {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.posts_article_btn_wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.posts_article_btn_left {
    width: 22px;
    height: 22px;
    background-image: url(../img/right.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
    margin-right: 8px;
}

.posts_article_btn_left:hover {
    opacity: 0.4;
}

.posts_article_btn_right {
    width: 22px;
    height: 22px;
    background-image: url(../img/right.png);
    background-repeat: no-repeat;
    background-position: center;
}

.posts_article_btn_right:hover {
    opacity: 0.4;
}

.posts_article {
    width: 370px;
    border: 1px solid #fcfcfc;
    position: relative;
    transition: all .5s ease-out;
}

.posts_article_center {
    margin-left: 30px;
    margin-right: 30px;
}

.posts_article:hover {
    background-color: #362f2d;
    transition: all .5s ease-out;
}

.posts_article:hover img {
    filter: brightness(40%);
}

.posts_article:hover .posts_read_more {
    color: #c7b299;
}

.posts_read_more:hover {
    opacity: 0.6;
}

.posts_article:hover .posts_article_header {
    color: #c7b299;
    transition: all .5s ease-out;
}

.posts_img {
    display: block;
    transition: all .5s ease-out;
}

.posts_article_header {
    display: block;
    color: #555555;
    font-family: 'raleway-sb';
    font-size: 20px;
    font-weight: 500;
    padding-left: 29px;
    margin-top: 30px;
}

.posts_article_txt {
    display: block;
    width: 297px;
    height: 36px;
    color: #8c8c8c;
    font-family: 'montserrat-l';
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 29px;
    margin-top: 19px;
    transition: all .5s ease-out;
}

.posts_read_more {
    display: block;
    min-width: 74px;
    color: #c7b299;
    font-family: 'montserrat-l';
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 33px;
}

.posts_read_more:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 8px;
    margin-left: 9px;
    margin-top: 6px;
    background-image: url(../img/read_more_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}

.posts_data {
    position: absolute;
    top: 20px;
    left: 20px;
}

.data {
    display: block;
    text-align: center;
    width: 50px;
    height: 30px;
    padding-top: 9px;
    background-color: #363636;
    color: #ffffff;
    font-family: 'montserrat-l';
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    border-radius: 3px 3px 0 0;
    transition: all .5s ease-out;
}

.time {
    display: block;
    text-align: center;
    width: 50px;
    height: 20px;
    padding-top: 7px;
    background-color: #363636;
    border-radius: 0 0 3px 3px;
    background-color: #252525;
    color: #ffffff;
    font-family: 'raleway-reg';
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 0 0 3px 3px;
    transition: all .5s ease-out;
}

.posts_article:hover .time {
    background-color: #c7b299;
    transition: all .5s ease-out;
}

.posts_article:hover .data {
    background-color: #a48d72;
    transition: all .5s ease-out;
}

/*КОНЕЦ БЛОК С ПОСТАМИ*/


/*Блок с партнерами  */
.partners_flex {
    display: flex;
    justify-content: center;

}

.partners {
    width: 100%;
    min-height: 489px;
    background-image: url(../img/back.jpg);
    background-color: brown;
    background-repeat: no-repeat;
    margin-top: 80px;
}

.partners_src {
    margin-right: 90px;
    margin-top: 160px;
    display: block;
}

.partners_src:hover img {
    opacity: 0.6;
}

/*Конец Блок с партнерами  */
/* ПОДВАЛ1 */
.footer_wrapper {
    width: 100%;
    min-height: 508px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

.about_waxom {
    width: 262px;
    margin-right: 40px;
}

.logo_footer {}

.about_waxom_txt {
    width: 258px;
    color: #555555;
    font-family: 'montserrat-l';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-top: 29px;
    margin-bottom: 33px;
}

.about_waxom_more {
    min-width: 74px;
    color: #d1d1d1;
    font-family: 'montserrat-l';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.about_waxom_more:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 8px;
    margin-left: 9px;
    margin-top: 6px;
    background-image: url(../img/read_more_arrow_w.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about_waxom_more:hover {
    opacity: 0.4;
}

.recent_posts,
.out_twitter {
    width: 280px;
    margin-right: 40px;
}

.footer_title {
    color: #ffffff;
    font-family: 'raleway-reg';
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    padding-top: 28px;
    margin-bottom: 30px;
}

.datetime_posts,
.out_twitter_tame {
    width: 117px;
    color: #363636;
    font-family: 'montserrat-l';
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.recent_posts_txt {
    width: 250px;
    color: #555555;
    font-family: 'montserrat-l';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    display: block;
}

.out_twitter_wrapper {
    padding-bottom: 21px;
}

.recent_posts a:last-child .recent_posts_txt {
    border-bottom: none;
}

.out_twitter_wrapper:last-child .out_twitter_post {
    border-bottom: none;
}

.recent_posts_src:hover .datetime_posts {
    color: #ffffff;
    transition: all .5s ease-out;
}


.recent_posts_src:hover .recent_posts_txt {
    color: #c7b299;
    transition: all .5s ease-out;
}

/* .recent_posts_src:visited .recent_posts_txt {
    color: aqua;
} */

.datetime_posts {
    display: block;
    transition: all .5s ease-out;
}

.recent_posts_txt {
    padding-bottom: 20px;
    display: block;
    width: 262px;
    border-bottom: 1px solid #333333;
}

.recent_posts_src {
    text-decoration: none;
    display: block;
    transition: all .5s ease-out;
    padding-bottom: 21px;
}

.out_twitter_tame {
    display: block;
    padding-bottom: 14px;
    padding-top: 6px;
}

.out_twitter_post {
    color: #555555;
    font-family: 'montserrat-l';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    display: block;
    border-bottom: 1px solid #333333;
}

.out_twitter_post a {
    color: #02b4e5;
    text-decoration: none;
}

.out_twitter_post a:hover {
    opacity: 0.4;
}

.out_twitter_post a:visited {
    color: aqua;
}

.dribbble_widget {
    width: 300px;
}

.dribbble_widget a {
    display: block;
    width: 130px;
    height: 98px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all .7s ease-out;
}

.dribbble_widget_img:hover {
    opacity: 0.4;
    transition: all .7s ease-out;
}

/* КОНЕЦПОДВАЛ1 */
.footer_copy {
    width: 100%;
    background-color: #111111;
    display: flex;
    justify-content: space-around;
    padding-top: 45px;
    padding-bottom: 52px;
}

.copyright span {
    font-family: 'montserrat-l';
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #474747;

}

.copyright small {
    color: #c7b299;
}

.disignet span {
    width: 401px;
    height: 14px;
    font-family: 'montserrat-l';
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #474747;
}

.disignet small {
    color: #959595;
}

@media (max-width: 575.98px) {

    .body {
        background-color: aqua;
    }

    .container {
        width: 100%;
    }

    .mainmenu {
        padding: 0;
        margin: 0;

    }
    
    .head{
        min-height: 100px;
    }

    .header_discript,
    .arow_left,
    .arow_right {
        display: none;
    }

    .menu {
        display: grid;
        grid-template-columns: repeat(2, 249px [col-start]);
        grid-gap: 15px;
        grid-row-gap: 15px;
        justify-content: center;
    }

    .waxom_ideas {
        display: none;
    }

    .waxom_ideas_footer {
        display: none;
    }

    .our_latest_menu_btn {
        font-size: 10px;
        padding: 0px 10px 0px 10px;
    }

    .our_latest_wrapper {
        display: grid;
        grid-template-columns: repeat(1, 370px [col-start]);
        grid-gap: 30px;
        grid-row-gap: 30px;
        justify-content: center;
    }

    .waxom_video_presentation video {
        width: 100%;
        height: 100%;
    }

    .waxom_video_play_arrow {
        display: none;
    }

    .waxom_video_play {
        display: none;
    }

    .waxom_video_presentation time {
        display: none;
    }

    .hand_fone {
        width: 100%;
        position: relative;
        background-color: #fbfaf8;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 30px 80px;
    }

    .hand_fone_wrapper {
        position: absolute;
        left: 77px;
        top: 95px;
        width: 400px;
    }

    .hand_fone_title {
        font-size: 20px;
    }

    .hand_fone_txt {
        display: block;
        width: 100%;
        font-size: 16px;
    }

    .hand_fone_list li {
        font-size: 12px;
    }

    .calc {
        display: none;
    }

    .posts_flex {
        flex-direction: column;
        margin-left: 90px;
    }

    .posts_article {
        margin-bottom: 20px;
    }

    .posts_article_center {
        margin-left: 0px;
        margin-right: 0px;
    }

    .posts_header {
        font-size: 20px;
    }

    .posts_txt {
        margin-left: 85px;
        width: 400px;
        font-size: 12px;
    }

    .partners_flex {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 200px [col-start]);
        grid-gap: 0px;
        grid-row-gap: 10px;
        justify-content: center;
        padding-top: 30px;
        /* margin-left: 90px; */
        padding-bottom: 30px;
    }

    .partners {
        min-height: 250px;
    }

    .partners_src {
        height: 100px;
        margin-right: 0px;
        margin-top: 0px;
        display: block;
        text-align: center;
    }

    .partners_src img {
        width: auto;
        height: 100px;
    }

    .footer_wrapper {
        display: none;
    }

    .footer_copy {
        display: block;
        text-align: center;
    }

    .copyright {
        margin-bottom: 20px;
    }
}
